* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f1f1f1;
}

.orange {
  background-color: orange;
}

.btn-info {
  background-color: yellow;
}